[Unit]
Description=xremap key remapper
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/bin/xremap --watch=config,device %h/.config/xremap/config.yml
Restart=on-failure
RestartSec=3
Environment=RUST_LOG=warn

[Install]
WantedBy=graphical-session.target
